/*Header*/
.appHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    height:15vh;
    background: none;
    padding-top: 20px;
    position: fixed;
    top:0px;
  }
  .name{
  font-size: 4vh;
  display: flex;
  flex-direction: row;
  padding-left: 40px;
  width: 30vh;
  }
  @media(max-width: 700px){
    .name{
      font-size:3.5vh;
      padding-left:20px;
    }
  }
  @media(max-width: 370px){
    .name{
      font-size:3vh;
      padding-left:5px;
    }
  }
  .firstName{
    color:white;
    margin-right: 5px;
  }
  .lastName{
    color:red;
  }
  .icons{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 30vw;
    padding-right:40px;
  }
  .icon{
    width:50px;
  }
  @media(max-width: 700px){
    .icons{
        padding: 0;
    }
  }
  @media(max-width: 300px){
    .icon{
        width:40px;
    }
  }
  @media(max-width: 240px){
      .icon{
          width:30px;
      }
  }
  .headButtonContainer{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 10px;
    width: 40vw;
  }
  @media(max-width: 700px){
    .headButtonContainer{
        flex-direction: column;
        align-items: flex-end;
    }
  }
  .headButton{
    margin: 5px;
    border: none;
    border-bottom: solid;
    background: none;
    color: white;
    font-size:2.7vh;
    outline: none;
    font-family: serif;
    cursor: pointer;
  }
  @media(max-width: 500px){
    .headButton{
        font-size: 1.7vh;
    }
  }
  @media(max-width: 370px){
    .headButton{
      font-size:1.3vh;
    }
  }
  .headButton:hover{
  font-size: 3.6vh;
  color:red;
  }