/*Header*/
.appHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    height:15vh;
    background: none;
    padding-top: 20px;
    position: fixed;
    top:0px;
  }
  .name{
  font-size: 4vh;
  display: flex;
  flex-direction: row;
  padding-left: 40px;
  width: 30vh;
  }
  @media(max-width: 700px){
    .name{
      font-size:3.5vh;
      padding-left:20px;
    }
  }
  @media(max-width: 370px){
    .name{
      font-size:3vh;
      padding-left:5px;
    }
  }
  .firstName{
    color:white;
    margin-right: 5px;
  }
  .lastName{
    color:red;
  }
  .icons{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 30vw;
    padding-right:40px;
  }
  .icon{
    width:50px;
  }
  @media(max-width: 700px){
    .icons{
        padding-right: 80px;
    }
  }
  @media(max-width: 450px){
    .icons{
      padding-right: 40px;
    }
    .icon{
        width:40px;
    }
  }
  @media(max-width: 320px){
      .icons{
      padding-right: 0;
      position: fixed;
      left: 35%;
    }
      .icon{
        width: 30px;
      }
      .name{
        display: none;
      }
  }
  .headButtonContainer{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 10px;
    width: 40vw;
  }
  @media(max-width: 700px){
    .headButtonContainer{
        flex-direction: column;
        align-items: flex-end;
        width: 40px;
    }
  }
  @media(max-width: 320px){
    .headButtonContainer{
        position: fixed;
        right: 0;
    }
  }
  li{
    margin: 5px;
    border: none;
    background: none;
    color: white;
    font-size:2.7vh;
    outline: none;
    font-family: serif;
    cursor: pointer;
    list-style: none;
    text-decoration: none;
  }
  .current{
    border-bottom: 1px solid red;
  }
  @media(max-width: 700px){
    li{
        margin:0;
    }
  }
  @media(max-width: 500px){
    li{
        font-size: 1.7vh;
    }
  }
  @media(max-width: 370px){
    li{
      font-size:1.3vh;
    }
  }
  li:hover{
  font-size: 3.6vh;
  }