/*main body*/
.appMain{
  width:100%;
  height:auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.mainHeader{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, rgb(95, 95, 95), black);
  text-align: center;
  font-size: 8vh;
  border-style: solid;
  border-radius: 16px;
  color: rgb(255, 255, 255);
  padding-left:10px;
  padding-right: 10px;
  margin:0;
}
@media(max-width: 615px){
  .mainHeader{
      font-size: 6vh;
  }
}
@media(max-width: 465px){
  .mainHeader{
    font-size:5vh;
  }
}
@media(max-width: 380px){
  .mainHeader{
    font-size:3.5vh;
  }
}
