.projectsBackground{
    width: 90%;
    height: 62vh;
    background: rgba(29, 29, 29, 0.9);
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    border-radius: 10px;
    z-index: 1;
}
.buttonContainer{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.titleP{
    font-size: 40px;
    width:95%;
    color: white;
    font-weight: bold;
    text-align: center;
    opacity: 1;
    text-decoration: underline;
    margin-top: 10px;
}
.projectsContainer{
    width:100%;
    height:100%;
    background: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    overflow: auto;
    margin-top:5px;
}
.project{
    border-style: solid;
    border-color: rgb(233, 78, 78);
    border-width: 3px;
    box-shadow: 5px 10px #888888;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 300px;
    height: 400px;
    border-radius: 5%;
    overflow: hidden;
}
.gif{
    position: relative;
    width: 300px;
    height: 200px;
    top:-10px;
}
.recipeGif{
    position: relative;
    right: 79px;
    width: 450px;
    height: 200px;
    top:-10px;
}
@media (max-width:400px){
    .projectsBackground{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .projectsContainer{
        width: 90%;
        justify-content: center;
    }
    .project{
        height: 440px;
    }
    .gif{
        right: 20px;
        width:120%;
    }
    .recipeGif{
        right: 100px;
    }
    p{
        font-size: 10px;
    }
}
